<p-toast></p-toast>
<p-tabMenu [model]="items"></p-tabMenu>
<br />

<div class="card">
    <h5>Asset Table</h5>
    <p-table
        #dt1
        [value]="assets"
        dataKey="id"
        [rows]="5"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 20, 50]"
        [loading]="loading"
        [paginator]="true"
        [scrollable]="true"
        scrollHeight="400px"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="[
            'employeeDTO.lastname',
            'employeeDTO.firstname',
            'assetInventoryDTO.unit',
            'employeeDTO.employeeCode',
            'assetInventoryDTO.specs',
            'isAvailable',
            'unit'
        ]"
    >
        <ng-template pTemplate="caption">
            <div class="flex">
                <div>
                    <button
                        [routerLink]="['/add_asset']"
                        pButton
                        icon="pi pi-plus"
                        label="Add"
                    ></button>
                </div>
                <div>
                    <button
                        style="margin-left: 5px"
                        (click)="upload_asset = true"
                        pButton
                        icon="pi pi-upload"
                    ></button>

                    <button
                        style="margin-left: 5px"
                        (click)="download_asset = true"
                        pButton
                        icon="pi pi-download"
                    ></button>
                </div>
                <div class="ml-5">
                    <p-dropdown
                        [options]="sortOptions"
                        placeholder="Sort by Availability"
                        (onChange)="onSortChange($event)"
                    ></p-dropdown>
                </div>

                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input
                        pInputText
                        type="text"
                        (input)="
                            dt1.filterGlobal($event.target.value, 'contains')
                        "
                        placeholder="Search keyword"
                    />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="min-width: 5rem">
                    <div class="flex align-items-center">
                        Image
                        <p-columnFilter
                            type="text"
                            field="name"
                            display="menu"
                        ></p-columnFilter>
                    </div>
                </th>

                <th style="min-width: 10rem">
                    <div class="flex align-items-center">Barcode</div>
                </th>
                <th style="min-width: 10rem">
                    <div class="flex align-items-center">Serial Number</div>
                </th>
                <th style="min-width: 10rem">
                    <div class="flex align-items-center">Type</div>
                </th>
                <th style="min-width: 10rem">
                    <div class="flex align-items-center">
                        Specification
                        <p-columnFilter
                            type="text"
                            field="assetInventoryDTO.specs"
                            display="menu"
                        ></p-columnFilter>
                    </div>
                </th>
                <th style="width: 15rem">
                    <div class="flex align-items-center">Availability</div>
                </th>
                <th style="min-width: 5rem">
                    <div class="flex align-items-end">Action</div>
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-asset>
            <tr>
                <td (click)="showDynamicDialog(asset)">
                    <img
                        *ngIf="asset.imagePath; else fallbackImage"
                        [src]="asset.imagePath"
                        alt="Image"
                        width="80px"
                        height="80px"
                    />
                    <ng-template #fallbackImage>
                        <img
                            src="https://i5.walmartimages.com/asr/d76bd9ab-6cf5-48ab-9dc8-57a14c94a0ce.8f6d99aba9aa08a769db9efdcc51d663.jpeg"
                            alt="Fallback Image"
                            width="80px"
                            height="80px"
                        />
                    </ng-template>
                </td>
                <td>
                    <span class="ml-1 vertical-align-middle">
                        {{ asset.assetInventoryDTO.barcode }}
                    </span>
                </td>

                <td>
                    <span class="ml-1 vertical-align-middle">
                        {{ asset.assetInventoryDTO.barcode }}
                    </span>
                </td>
                <td>
                    <span class="ml-1 vertical-align-middle">
                        {{ asset.assetInventoryDTO.unit }}
                    </span>
                </td>
                <td>
                    {{ asset.assetInventoryDTO.specs }}
                </td>
                <td>
                    {{
                        asset.isAvailable === false
                            ? "Allocated"
                            : asset.isAvailable === true
                            ? "Available"
                            : asset.isAvailable
                    }}
                </td>
                <td>
                    <div class="flex">
                        <button
                            pButton
                            pRipple
                            icon="pi pi-pencil"
                            class="p-button-rounded p-button-success mr-2"
                            (click)="editAsset(asset)"
                        ></button>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">No customers found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>


<p-dialog
    header="Upload CSV"
    [(visible)]="upload_asset"
    [modal]="true"
    showEffect="fade"
    [style]="{ width: '20vw' }"
    [breakpoints]="{ '960px': '75vw' }"
>
    <form class="form-inline" [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
        <p class="line-height-3 m-0">
            <input
                type="file"
                pInputFile
                formControlName="fileInput"
                (change)="onFileSelected($event)"
                accept=".csv"
            />
        </p>
        <button
            type="submit"
            pButton
            icon="pi pi-upload"
            class="mt-5"
            [ngStyle]="{ width: '100%' }"
        ></button>
    </form>
</p-dialog>

<p-dialog
    header="Download CSV"
    [(visible)]="download_asset"
    [modal]="true"
    showEffect="fade"
    [style]="{ width: '15vw' }"
    [breakpoints]="{ '960px': '75vw' }"
>
    <button
        type="submit"
        pButton
        icon="pi pi-download"
        class="mt-5"
        [ngStyle]="{ width: '100%' }"
    ></button>
</p-dialog>

<p-dialog
    header="Edit"
    [(visible)]="edit"
    [breakpoints]="{ '960px': '75vw' }"
    [style]="{ width: '80vw' }"
    [draggable]="true"
    [resizable]="false"
    [maximizable]="true"
>
    <div *ngIf="asset" class="">
        <div class="grid">
            <div class="col-12 lg:col-6 xl:col-6">
                <div class="card shadow-4 mb-0">
                    <div class="flex justify-content-center mb-3">
                        <p-image
                            [src]="asset.imagePath"
                            alt="Image"
                            width="250"
                            [preview]="true"
                        ></p-image>
                    </div>
                    <input type="file" (change)="getFile($event)" />
                    <button type="button" (click)="imageUpload()">
                        Update
                    </button>

                    <span class="text-black-800 font-semibold">
                        <strong>
                            {{ asset.assetInventoryDTO.specs }}
                        </strong>
                        -
                        {{ asset.assetInventoryDTO.unit }}
                        {{ asset.id }}
                    </span>
                    <div class="mt-2">
                        <span>
                            BARCODE
                            <p class="text-black-800 font-semibold">
                                <strong>
                                    {{ asset.assetInventoryDTO.barcode }}
                                </strong>
                            </p></span
                        >
                    </div>
                    <div class="mt-2">
                        <span>
                            SERIAL NUMBER
                            <p class="text-black-800 font-semibold">
                                <strong>
                                    {{ asset.assetInventoryDTO.serialNo }}
                                </strong>
                            </p></span
                        >
                    </div>
                </div>
            </div>

            <div class="col-12 lg:col-6 xl:col-6">
                <div class="mt-5">
                    <span>
                        ACCOUNTABILITY NUMBER
                        <p class="text-black-800 font-medium">
                            <strong>
                                {{ asset.accountabilityNo }}
                            </strong>
                        </p></span
                    >
                </div>
                <p>
                    <button (click)="newUser()">New User</button>
                    <button (click)="clearSelectedUser()">Remove</button>
                </p>
                <form
                    [formGroup]="updateAssetForm"
                    (ngSubmit)="updateAssetSubmit()"
                >

                    <div class="mt-5">
                        <div
                            class="flex flex-column gap-2"
                            *ngIf="showNewUserAutoComplete"
                        >
                            <label htmlFor="user">New User</label>
                            <p-autoComplete
                                [dropdown]="true"
                                [suggestions]="filteredUsers"
                                (completeMethod)="filterUsers($event)"
                                field="fullName"
                                formControlName="currentUser"
                                (onSelect)="onUserSelect($event)"
                            ></p-autoComplete>
                        </div>
                        <p class="mt-5">
                            <strong>{{
                                selectedUser
                                    ? selectedUser.fullName
                                    : asset.employeeDTO?.fullName
                            }}
                            {{asset.employeeDTO?.id}}
                        </strong>
                        </p>
                        <div></div>
                    </div>
                    <div class="mt-5">
                        <div class="flex flex-column gap-2">
                            <label htmlFor="company">Company</label>
                            <p-dropdown
                                [options]="companyCodes"
                                formControlName="company"
                            ></p-dropdown>
                        </div>
                    </div>

                    <div class="mt-2">
                        <div class="flex flex-column gap-2">
                            <label htmlFor="department">Department</label>
                            <p-dropdown
                                [options]="departmentCodes"
                                formControlName="department"
                            ></p-dropdown>
                        </div>
                    </div>

                    <div class="mt-5">
                        <div class="flex flex-column gap-2">
                            <label htmlFor="remarks">Remarks</label>
                            <textarea
                                rows="5"
                                id="remarks"
                                cols="30"
                                placeholder="Remarks Here"
                                pInputTextarea
                                formControlName="remarks"
                                [value]="asset.remarks"
                            ></textarea>
                        </div>
                    </div>

                    <div class="flex justify-content-end mb-5 mt-5">
                        <button
                            pButton
                            icon="pi pi-update"
                            label="Update"
                            type="submit"
                            styleClass="p-button-text"
                        ></button>
                    </div>
                </form>
            </div>
        </div>

        <p-accordion>
            <p-accordionTab header="Components">
                <div class="grid">
                    <div class="col-12 lg:col-6 xl:col-3" *ngFor="let com of component">
                        <div class="card mb-0" (click)="showComponent(com)">
                            <div class="flex justify-content-between mb-3">
                                <div>
                                    <span class="block text-500 font-medium mb-3">{{com.serialNo}}</span>
                                    <div class="text-900 font-medium text-xl">{{com.componentType}}</div>
                                </div>
                                <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                                    <i class="pi pi-verified text-blue-500 text-xl"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </p-accordionTab>
        </p-accordion>
        <p-accordion [activeIndex]="0">
            <p-accordionTab header="History"> Past user info </p-accordionTab>
        </p-accordion>
    </div>
</p-dialog>
