<p-tabMenu [model]="items"></p-tabMenu>
<br />
<div class="card">
    <h5>Asset Table</h5>
    <p-table
        #dt1
        [value]="customers"
        dataKey="id"
        [rows]="5"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[5, 10, 20]"
        [loading]="loading"
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="[
            'name',
            'country.name',
            'representative.name',
            'status'
        ]"
    >
        <ng-template pTemplate="caption">
            <div class="flex">
                <div>
                    <button
                        (click)="add_asset = true"
                        pButton
                        icon="pi pi-plus"
                        label="Add"
                    ></button>
                </div>
                <div>
                    <button
                        style="margin-left: 5px"
                        (click)="upload_asset = true"
                        pButton
                        icon="pi pi-upload"
                    ></button>
                </div>

                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input
                        pInputText
                        type="text"
                        (input)="
                            dt1.filterGlobal($event.target.value, 'contains')
                        "
                        placeholder="Search keyword"
                    />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="min-width: 10rem">
                    <div class="flex align-items-center">
                        Image
                        <p-columnFilter
                            type="text"
                            field="name"
                            display="menu"
                        ></p-columnFilter>
                    </div>
                </th>
                <th style="min-width: 10rem">
                    <div class="flex align-items-center">
                        Barcode
                        <p-columnFilter
                            type="text"
                            field="country.name"
                            display="menu"
                        ></p-columnFilter>
                    </div>
                </th>
                <th style="min-width: 10rem">
                    <div class="flex align-items-center">
                        Unit Name
                        <p-columnFilter
                            field="representative"
                            matchMode="in"
                            display="menu"
                            [showMatchModes]="false"
                            [showOperator]="false"
                            [showAddButton]="false"
                        >
                            <ng-template pTemplate="header">
                                <div class="px-3 pt-3 pb-0">
                                    <span class="font-bold">Unit </span>
                                </div>
                            </ng-template>
                            <ng-template
                                pTemplate="filter"
                                let-value
                                let-filter="filterCallback"
                            >
                                <p-multiSelect
                                    [ngModel]="value"
                                    [options]="representatives"
                                    placeholder="Any"
                                    (onChange)="filter($event.value)"
                                    optionLabel="name"
                                >
                                    <ng-template let-option pTemplate="item">
                                        <div
                                            class="inline-block vertical-align-middle"
                                        >
                                            <img
                                                [alt]="option.label"
                                                src="https://primefaces.org/cdn/primeng/images/demo/avatar/{{
                                                    option.image
                                                }}"
                                                width="24"
                                                class="vertical-align-middle"
                                            />
                                            <span class="ml-1 mt-1">{{
                                                option.name
                                            }}</span>
                                        </div>
                                    </ng-template>
                                </p-multiSelect>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>
                <th style="min-width: 10rem">
                    <div class="flex align-items-center">
                        Serial Number
                        <p-columnFilter
                            type="date"
                            field="date"
                            display="menu"
                        ></p-columnFilter>
                    </div>
                </th>
                <th style="min-width: 10rem">
                    <div class="flex align-items-center">
                        Specification
                        <p-columnFilter
                            type="numeric"
                            field="balance"
                            display="menu"
                            currency="USD"
                        ></p-columnFilter>
                    </div>
                </th>

                <th style="min-width: 10rem">
                    <div class="flex align-items-center">
                        Date Aquired
                    </div>
                </th>
                <th style="width: 5rem">
                    <div class="flex align-items-center">
                        User
                        <p-columnFilter
                            type="boolean"
                            field="verified"
                            display="menu"
                        ></p-columnFilter>
                    </div>
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-customer>
            <tr >
                <td>

                    <i class="pi pi-apple"></i>
                    <!-- {{ customer.name }} -->
                </td>
                <td>

                    <span class="ml-1 vertical-align-middle">{{
                       083432843284032
                    }}</span>
                </td>
                <td>
                    <span class="ml-1 vertical-align-middle">{{
                        customer.representative.name
                    }}</span>
                </td>
                <td>
                    {{ getRandomSerialNumber() }}
                </td>
                <td>
                    {{ customer.balance | currency : "USD" : "symbol" }}
                </td>

                <td>
                    {{ customer.date | date : "MM/dd/yyyy" }}
                </td>
                <td class="text-center">
                    <i
                        class="pi"
                        [ngClass]="{
                            'text-green-500 pi-check-circle': customer.verified,
                            'text-red-500 pi-times-circle': !customer.verified
                        }"
                    ></i>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">No customers found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog
    header="Add Asset"
    [(visible)]="add_asset"
    [modal]="true"
    showEffect="fade"
    [style]="{ width: '30vw' }"
    [breakpoints]="{ '960px': '75vw' }"
>
    <p class="line-height-3 m-0">

    </p>
    <ng-template pTemplate="footer">
        <button
            pButton
            icon="pi pi-check"
            (click)="add_asset = false"
            label="Ok"
            class="p-button-outlined"
        ></button>
    </ng-template>
</p-dialog>

<p-dialog
    header="Upload CSV"
    [(visible)]="upload_asset"
    [modal]="true"
    showEffect="fade"
    [style]="{ width: '30vw' }"
    [breakpoints]="{ '960px': '75vw' }"
>
<form action="" >
    <p class="line-height-3 m-0">
        <p-fileUpload
        name="demo[]"
        accept=".csv"
        [maxFileSize]="1000000"
        (onUpload)="onBasicUpload()"
    ></p-fileUpload>
     </p>

         <!-- <button
             pButton
             icon="pi pi-upload"
             (click)="upload_asset = false"
             label="Upload"
             class="p-button-outlined mt-5"
         ></button> -->

</form>

</p-dialog>
