<p-tabMenu [model]="items"></p-tabMenu>
<br />

<div class="card">
    <h5>Asset Table</h5>
    <p-table
        #dt1
        [value]="assets"
        dataKey="id"
        [rows]="5"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[5, 10, 20]"
        [loading]="loading"
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="[
            'employeeDTO.lastname',
            'employeeDTO.firstname',
            'assetInventoryDTO.unit',
            'employeeDTO.employeeCode',
            'assetInventoryDTO.specs',
            'isAvailable'
        ]"
    >
        <ng-template pTemplate="caption">
            <div class="flex">
                <div>
                    <button
                        [routerLink]="['/add_asset']"
                        pButton
                        icon="pi pi-plus"
                        label="Add"
                    ></button>
                </div>
                <div>
                    <button
                        style="margin-left: 5px"
                        (click)="upload_asset = true"
                        pButton
                        icon="pi pi-upload"
                    ></button>

                    <button
                        style="margin-left: 5px"
                        (click)="download_asset = true"
                        pButton
                        icon="pi pi-download"
                    ></button>
                </div>

                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input
                        pInputText
                        type="text"
                        (input)="
                            dt1.filterGlobal($event.target.value, 'contains')
                        "
                        placeholder="Search keyword"
                    />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="min-width: 5rem">
                    <div class="flex align-items-center">
                        Image
                        <p-columnFilter
                            type="text"
                            field="name"
                            display="menu"
                        ></p-columnFilter>
                    </div>
                </th>

                <th style="min-width: 10rem">
                    <div class="flex align-items-center">Barcode</div>
                </th>
                <th style="min-width: 10rem">
                    <div class="flex align-items-center">Unit Type</div>
                </th>
                <th style="min-width: 10rem">
                    <div class="flex align-items-center">Specification
                        <p-columnFilter
                        type="text"
                        field="assetInventoryDTO.specs"
                        display="menu"
                    ></p-columnFilter>
                    </div>
                </th>
                <th style="width: 15rem">
                    <div class="flex align-items-center">
                        Availability
                    </div>
                </th>
                <th style="min-width: 5rem">
                    <div class="flex align-items-end">Action</div>
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-asset>
            <tr>
                <td (click)="showDialog(asset)">
                    <img
                        src="https://i5.walmartimages.com/asr/d76bd9ab-6cf5-48ab-9dc8-57a14c94a0ce.8f6d99aba9aa08a769db9efdcc51d663.jpeg"
                        alt=""
                        width="80px"
                        height="80px"
                    />
                </td>
                <td>
                    <span class="ml-1 vertical-align-middle">
                        {{ asset.assetInventoryDTO.barcode }}
                    </span>
                </td>
                <td>
                    <span class="ml-1 vertical-align-middle">
                        {{ asset.assetInventoryDTO.unit }}
                    </span>
                </td>
                <td>
                    {{ asset.assetInventoryDTO.specs }}
                </td>
                <td>
                    {{
                        asset.isAvailable === false
                            ? "Allocated"
                            : asset.isAvailable === true
                            ? "Available"
                            : asset.isAvailable
                    }}
                </td>
                <td>
                    <div class="flex">
                        <button
                            pButton
                            pRipple
                            icon="pi pi-pencil"
                            class="p-button-rounded p-button-success mr-2"
                            (click)="editProduct(asset)"
                        ></button>
                        <button
                            pButton
                            pRipple
                            icon="pi pi-trash"
                            class="p-button-rounded p-button-warning"
                            (click)="deleteProduct(asset)"
                        ></button>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">No customers found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog
    header="Add Asset"
    [(visible)]="add_asset"
    [modal]="true"
    showEffect="fade"
    [style]="{ width: '30vw' }"
    [breakpoints]="{ '960px': '75vw' }"
>
    <ng-template pTemplate="footer">
        <button
            pButton
            icon="pi pi-check"
            (click)="add_asset = false"
            label="Add"
            class="p-button-outlined"
        ></button>
    </ng-template>
</p-dialog>

<p-dialog
    header="Upload CSV"
    [(visible)]="upload_asset"
    [modal]="true"
    showEffect="fade"
    [style]="{ width: '30vw' }"
    [breakpoints]="{ '960px': '75vw' }"
>
    <form class="form-inline" [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
        <p class="line-height-3 m-0">
            <input
                type="file"
                pInputFile
                formControlName="fileInput"
                (change)="onFileSelected($event)"
                accept=".csv"
            />
        </p>
        <button
            type="submit"
            pButton
            icon="pi pi-upload"
            label="Upload"
            class="mt-5"
        ></button>
    </form>
</p-dialog>

<p-dialog
    header="Download CSV"
    [(visible)]="download_asset"
    [modal]="true"
    showEffect="fade"
    [style]="{ width: '15vw' }"
    [breakpoints]="{ '960px': '75vw' }"
>
    <button
        type="submit"
        pButton
        icon="pi pi-download"
        label="Export"
        class="mt-5"
    ></button>
</p-dialog>

<p-dialog
    header="Edit"
    [(visible)]="edit"
    [breakpoints]="{ '960px': '75vw' }"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
>
    <p *ngIf="asset">
        <img
            src="https://i5.walmartimages.com/asr/d76bd9ab-6cf5-48ab-9dc8-57a14c94a0ce.8f6d99aba9aa08a769db9efdcc51d663.jpeg"
            alt=""
            width="80px"
            height="80px"
        />
        {{ asset?.assetInventoryDTO?.barcode }}
        {{ asset?.company }}
        {{ asset?.department }}
        {{ asset?.employeeDTO?.firstname }}
    </p>
    this is edit modal
</p-dialog>
<p-dialog
    header="Delete"
    [(visible)]="delete"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
>
    <p class="m-0">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
    </p>
</p-dialog>
<p-dialog
    header="View"
    [(visible)]="visible"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
>
    <div *ngIf="asset" class="">
        <div class="grid">
            <div class="col-12 lg:col-6 xl:col-5">
                <div class="card mb-0">
                    <div class="flex justify-content-between mb-3">
                        <p-image
                        src="https://i5.walmartimages.com/asr/d76bd9ab-6cf5-48ab-9dc8-57a14c94a0ce.8f6d99aba9aa08a769db9efdcc51d663.jpeg"
                            alt="Image"
                            width="300"
                            [preview]="true"
                        ></p-image>
                    </div>
                    <span class="text-green-500 font-medium">{{
                        asset.assetInventoryDTO.barcode
                    }}</span>
                    <p>{{ asset.assetInventoryDTO.unit }}</p>
                    <p class="text-red-500 font-medium">
                        {{ asset.assetInventoryDTO.serialNo }}
                    </p>
                </div>
            </div>
            <div class="col-12 lg:col-6 xl:col-3">
                <span class="text-green-500 font-medium">
                    <u>{{ asset.assetInventoryDTO.specs }}</u>
                </span>
                <p>Specification</p>
                <span class="text-green-500 font-medium"
                    ><u>{{ asset.accountabilityNo }}</u></span
                >
                <p>Accountability Number</p>
                <span class="text-green-500 font-medium"
                    ><u>{{ asset.company }}</u></span
                >
                <p>Company</p>
                <span class="text-green-500 font-medium"
                    ><u>{{ asset.department }}</u></span
                >
                <p>Department</p>
                <span class="text-red-600 font-medium">{{
                    asset.remarks
                }}</span>
                <p>Remarks</p>
            </div>
            <div class="col-12 lg:col-6 xl:col-4">
                <span class="text-green-500 font-medium">
                    <u>{{ asset.assetInventoryDTO.vendor }}</u>
                </span>
                <p>Vendor</p>
                <span class="text-green-500 font-medium">
                    <u>{{ asset.assetInventoryDTO.warranty }}</u>
                </span>
                <p>Warranty</p>
                <span class="text-green-500 font-medium">
                    <u>{{ asset.assetInventoryDTO.datePO | date }}</u>
                </span>
                <p>Date PO</p>
                <span class="text-green-500 font-medium">
                    <u>{{
                        asset.assetInventoryDTO.dateAcquired === null
                            ? "Empty Field"
                            : asset.assetInventoryDTO.dateAcquired
                    }}</u>
                </span>
                <p>Date Acquired</p>
                <span class="font-medium">
                    <p-tag
                        icon="pi pi-user"
                        value="{{ asset.isAvailable === false ? asset.employeeDTO?.fullName : 'No User' }}"
                    >
                        <p></p>
                    </p-tag>
                </span>
                <p class="font-medium">Current User</p>
            </div>
        </div>
        <p-accordion [activeIndex]="0">
            <p-accordionTab header="History"> Pas user info </p-accordionTab>
        </p-accordion>
    </div>
</p-dialog>
