
    <div *ngIf="config.data" class="">
        <div class="grid">
            <div class="col-12 lg:col-6 xl:col-6">
                <div class="card shadow-4 mb-0">
                    <div class="flex justify-content-center mb-3">
                        <p-image
                            [src]="config.data.asset.imagePath"
                            alt="Image"
                            width="250"
                            [preview]="true"
                        ></p-image>
                    </div>
                    <input type="file" (change)="getFile($event)" />
                    <button type="button" (click)="imageUpload()">
                        Update
                    </button>

                    <span class="text-black-800 font-semibold">
                        <strong>
                            {{ config.data.asset.assetInventoryDTO.specs }}
                        </strong>
                        -
                        {{ config.data.asset.assetInventoryDTO.unit }}
                        {{ config.data.asset.id }}
                    </span>
                    <div class="mt-2">
                        <span>
                            BARCODE
                            <p class="text-black-800 font-semibold">
                                <strong>
                                    {{ config.data.asset.assetInventoryDTO.barcode }}
                                </strong>
                            </p></span
                        >
                    </div>
                    <div class="mt-2">
                        <span>
                            SERIAL NUMBER
                            <p class="text-black-800 font-semibold">
                                <strong>
                                    {{ config.data.asset.assetInventoryDTO.serialNo }}
                                </strong>
                            </p></span
                        >
                    </div>
                </div>
            </div>

            <div class="col-12 lg:col-6 xl:col-6">
                <div class="mt-5">
                    <span>
                        ACCOUNTABILITY NUMBER
                        <p class="text-black-800 font-medium">
                            <strong>
                                {{ config.data.asset.accountabilityNo }}
                            </strong>
                        </p></span
                    >
                </div>
                <p>
                    <button (click)="newUser()">New User</button>
                    <button (click)="clearSelectedUser()">Remove</button>
                </p>
                <form
                    [formGroup]="updateAssetForm"
                    (ngSubmit)="updateAssetSubmit()"
                >

                    <div class="mt-5">
                        <div
                            class="flex flex-column gap-2"
                            *ngIf="showNewUserAutoComplete"
                        >
                            <label htmlFor="user">New User</label>
                            <p-autoComplete
                                [dropdown]="true"
                                [suggestions]="filteredUsers"
                                (completeMethod)="filterUsers($event)"
                                field="fullName"
                                formControlName="currentUser"
                                (onSelect)="onUserSelect($event)"
                            ></p-autoComplete>
                        </div>
                        <p class="mt-5">
                            <strong>{{
                                selectedUser
                                    ? selectedUser.fullName
                                    : config.data.asset.employeeDTO?.fullName
                            }}
                            {{config.data.asset.employeeDTO?.id}}
                        </strong>
                        </p>
                        <div></div>
                    </div>
                    <div class="mt-5">
                        <div class="flex flex-column gap-2">
                            <label htmlFor="company">Company</label>
                            <p-dropdown
                                [options]="companyCodes"
                                formControlName="company"
                            ></p-dropdown>
                        </div>
                    </div>

                    <div class="mt-2">
                        <div class="flex flex-column gap-2">
                            <label htmlFor="department">Department</label>
                            <p-dropdown
                                [options]="departmentCodes"
                                formControlName="department"
                            ></p-dropdown>
                        </div>
                    </div>

                    <div class="mt-5">
                        <div class="flex flex-column gap-2">
                            <label htmlFor="remarks">Remarks</label>
                            <textarea
                                rows="5"
                                id="remarks"
                                cols="30"
                                placeholder="Remarks Here"
                                pInputTextarea
                                formControlName="remarks"
                                [value]="asset.remarks"
                            ></textarea>
                        </div>
                    </div>

                    <div class="flex justify-content-end mb-5 mt-5">
                        <button
                            pButton
                            icon="pi pi-update"
                            label="Update"
                            type="submit"
                            styleClass="p-button-text"
                        ></button>
                    </div>
                </form>
            </div>
        </div>

        <p-accordion>
            <p-accordionTab header="Components">
                <div class="grid">
                    <div class="col-12 lg:col-6 xl:col-3" *ngFor="let com of component">
                        <div class="card mb-0">
                            <div class="flex justify-content-between mb-3">
                                <div>
                                    <span class="block text-500 font-medium mb-3">{{com.serialNo}}</span>
                                    <div class="text-900 font-medium text-xl">{{com.componentType}}</div>
                                </div>
                                <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                                    <i class="pi pi-verified text-blue-500 text-xl"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-12 md:col-6 lg:col-3" *ngFor="let com of component" >
                        <div class="text-center p-3 border-round-sm bg-primary font-bold">{{com.componentType}}</div>
                    </div> -->
                </div>
            </p-accordionTab>
        </p-accordion>
        <p-accordion [activeIndex]="0">
            <p-accordionTab header="History"> Past user info </p-accordionTab>
        </p-accordion>
    </div>
