<div class="card">
    <h5>Asset Users</h5>
    <p-table
        #dt1
        [value]="employees"
        dataKey="id"
        [rows]="5"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[5, 10, 20]"
        [loading]="loading"
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="[
            'employeeDTO.lastname',
            'employeeDTO.firstname,',

            'employeeDTO.employeeCode',
            'status'
        ]"
    >
        <ng-template pTemplate="caption">
            <div class="flex">
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input
                        pInputText
                        type="text"
                        (input)="filterTableGlobal($event)"
                        placeholder="Search keyword"
                    />
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>CODE</th>
                <th style="min-width: 10rem">
                    <div class="flex align-items-center">
                        Employee
                        <p-columnFilter
                            type="text"
                            field="employeeDTO.lastname"
                            display="menu"
                        ></p-columnFilter>
                    </div>
                </th>
                <th style="min-width: 10rem">
                    <div class="flex align-items-center">Assigned Asset</div>
                </th>
                <th style="min-width: 10rem">
                    <div class="flex">Status</div>
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-employee>
            <tr>
                <td>{{ employee.employeeDTO.id  }}</td>
                <td>
                    {{ employee.employeeDTO.employeeCode }}
                </td>
                <td>
                    {{ employee.employeeDTO.lastname }},
                    {{ employee.employeeDTO.firstname }}
                    {{ employee.employeeDTO.middlename }}
                </td>
                <td>wala pa</td>
                <td>
                    <span [class]="'customer-badge status-' +  employee.status">
                        {{ employee.status }}
                    </span>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">No Users Found</td>
            </tr>
        </ng-template>
    </p-table>
</div>
